.container {
    text-align: center;
}
body {
    background: black;
    color: white;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px ;
}
.notes-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.notes-card{
    background: white;
    color: #000;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.delete-btn,.edit-btn {
    padding: 8px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 8px;
}
.delete-btn {
    background: #ff4d4d;
    color: white;
}
.edit-btn {
    background: rgb(243, 243, 23);
    color: white;
}
.add-container {
  text-align: center;
}
.search {
    display: flex;
    justify-content: center;
    gap: 10px;   
}
.search input {
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
}
.search button {
    padding: 12px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}