body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #667eea, #764ba2);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.todo-container {
    background: white;
    padding: 30px;
    width: 350px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}


input {
    padding: 10px;
    width: 65%;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button {
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: #333;
    color: white;
}

button:hover {
    opacity: 0.8;
}

li {
    list-style: none;
    margin-top: 10px;
    padding: 10px;
    background: #eee;
}
.completed {
    text-decoration: line-through;
    opacity: 0.5;
    background: #d4edda;
}
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}
